$white:#fff;
$blue:hsl(210, 100%, 56%);
$pink:#b894b8;
$darkblue:#1b7fe4;
$lightblue:#00c4cc;
$green:#66ADBB;

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-radius($radius) {
  background-clip: padding-box; // prevents bg color from leaking outside the border
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition {
  transition: 0.3s all ease-in-out;
}

@mixin gradient($right, $left) {
  background-image: linear-gradient(to right, $left, $right);
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin button {
  @include centered();
  @include transition();

  transition: 0.3s all ease-in-out;
  padding: 24px 48px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;

  padding: 20px;
  letter-spacing: 0.2em;
  border: 1px solid;
  border-image: linear-gradient(20deg, $green 38%, $pink 65%);
  border-image-slice: 1;
  outline: none;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}