@import '../../vars.scss';

.l {
  margin-top: 80px;

  &-modal {

    &-inner {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background-color: #F3EAF3;
      padding: 40px;
    }

    &-close {
      text-align: right;

      img {
        height: 40px;
        width: 40px;
        cursor: pointer;
      }
    }

    &-content {
      display: flex;
      height: calc(100% - 40px);
    }

    &-img {
      width: 50%;
      height: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 24px;
    }

    &-info {
      padding: 40px;
      color: $green;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      width: 50%;


      &-title {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 32px;
      }

      &-desc {
        line-height: 36px;
        font-size: 18px;
        margin-bottom: 24px;
      }

      &-price {
        font-size: 56px;
        color: $pink;
        margin-bottom: 36px;
      }



      &-button {
        text-align: right;

        span {
          padding: 24px 48px;
          background: #b894b8;
          color: #fff;
          border-radius: 100px;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          font-size: 24px;
        }

        &-active {
          text-align: right;

          span {
            padding: 24px 48px;
            background: $green;
            color: #fff;
            border-radius: 100px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            font-size: 24px;
          }
        }
      }

    }

  }

  &__inn {
    width: 100%;


    &-welcome {
      background: url('/images/back/4.png');
      background-size: cover;
      background-position: center;

      &-content {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 50%;
      }

      &-title{
        font-size: 64px;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 48px;
      }

      &-text{
        font-size: 20px;
        line-height: 1.5;
      }
    }

    &-about {
      width: 100%;
      background-size: 100%;
      background-position: 0 0;
      margin: 32px 0;


      &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-content {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }

      &-title {
        width: 100%;
        display: flex;
        // justify-content: flex-end;
        margin-bottom: 24px;

        span {
          font-size: 48px;
          color: $green;
        }
      }

      &-text {
        width: 63%;
        font-size: 20px;
        line-height: 48px;
        padding-right: 48px;
      }

      &-img {
        width: 40%;

        img {
          border-radius: 8px;
          box-shadow: 0 10px 20px rgba(212, 127, 140, 0.19), 0 6px 6px rgba(212, 127, 140, 0.23);
        }
      }
    }

    &-services {
      margin: 48px 0;

      &-items {
        display: flex;

        &-i {
          width: 25%;
          padding: 12px 36px;
          display: flex;

          align-items: center;

          &-img {
            width: 120px;
            height: 120px;
            margin-right: 24px;
          }

          &-text {
            width: calc(100% - 144px);
            font-size: 16px;
          }
        }
      }
    }

    &-catalog {
      width: 100%;
      background-size: 100%;
      background-position: center;

      &__text {
        padding: 48px 0;
        text-align: center;
        color: $pink;
        font-size: 56px;
      }


      &-content {
        width: 100%;
      }

      &__more {
        display: flex;
        justify-content: center;

        span {
          @include button;
        }
      }

      &__title {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 64px;
        display: flex;
        justify-content: center;
        // text-shadow: -4px -4px 0px $blue;
        // background: repeating-linear-gradient(45deg, $blue, $blue 1px, white 2px, white 3px);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // display: table;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 10px 20px rgba(212, 127, 140, 0.19), 0 6px 6px rgba(212, 127, 140, 0.23);
          margin: 0 24px;
          width: 300px;
          text-align: center;
          padding: 16px 36px;
          border: 1px solid #66ADBB;
          border-radius: 100px;
          background: #66ADBB;
          color: #fff;
          letter-spacing: 6px;
          cursor: pointer;
          transition: .3s ease-in-out;

          &:hover {
            background: $pink;
          }
        }
      }

      &__items {
        display: flex;
        flex-flow: row wrap;

        &-i {
          width: calc(33.3% - 24px);
          margin-right: 36px;
          margin-bottom: 36px;
          background: #ffffff;
          border-radius: 8px;
          box-shadow: 0 10px 20px rgba(212, 127, 140, 0.19), 0 6px 6px rgba(212, 127, 140, 0.23);
          transition: 0.3s ease-in-out;
          cursor: pointer;


          &:nth-child(3n) {
            margin-right: 0;
          }


          &:hover {
            transform: scale(1.05);
          }

          &-inner {
            padding: 16px 24px;
          }

          &-img {
            height: 300px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            img {
              // border-radius: 8px;
            }

            &-inner {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              opacity: 0;
              background-color: rgba(0, 0, 0, 0.6);
              transition: .3s;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;

              span {
                padding: 12px 24px;
                border: 1px solid $pink;
                color: $pink;
                border-radius: 100px;
              }

              &:hover {
                opacity: 1;
              }
            }
          }

          &-title {
            font-size: 24px;
            margin: 12px 0;
          }

          &-about {
            font-size: 14px;
            line-height: 20px;
            margin: 24px 0;
          }

          &-price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-count {
              font-size: 24px;
              color: $pink;
            }

            &-cart {
              padding: 12px 48px;
              background: $pink;
              color: #fff;
              border-radius: 100px;
              cursor: pointer;
              transition: 0.3s ease-in-out;
              font-size: 20px;

              &-active {
                background: $green;
              }

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }

    &-div {
      margin: 36px 0;
    }

    &-footer {
      &-content {
        display: flex;
        align-items: center;
        margin: 36px 0;
      }

      &-map {
        width: 50%;
      }

      &-contacts {
        padding: 0 64px;
        width: 100%;

        &-address {
          h3 {
            font-size: 20px;
            font-weight: 600;
          }

          p {
            font-size: 16px;
            font-weight: 300;
          }
        }

        &-row {
          display: flex;

          &-i {
            width: 50%;
          }

          h3 {
            font-size: 20px;
            font-weight: 600;
          }

          p {
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }

    &-ind {
      &-content {
        margin: 36px 0;
        display: flex;
        align-items: center;
      }

      &-img {
        width: 40%;

        img {
          border-radius: 8px;
          box-shadow: 0 10px 20px rgba(212, 127, 140, 0.19), 0 6px 6px rgba(212, 127, 140, 0.23);
        }
      }

      &-text {
        text-align: right;
        width: 60%;

        h1 {
          color: $green;
        }

        h3 {
          font-size: 24px;
          font-weight: normal;
          margin: 48px 0;
        }

        &-button {
          a {
            text-transform: uppercase;
            box-shadow: 0 10px 20px rgba(212, 127, 140, 0.19), 0 6px 6px rgba(212, 127, 140, 0.23);
            margin: 0 24px;
            width: 300px;
            text-align: center;
            padding: 16px 36px;
            border: 1px solid $green;
            border-radius: 100px;
            background: $green;
            color: #fff;
            letter-spacing: 6px;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
              background: $pink;
            }
          }
        }
      }
    }

  }
}

.ant-carousel {
  height: 100%;

  .slick-slide {
    background: white;
    overflow: hidden;

    div {
      height: 100vh;
    }
  }

  .slick-dots {
    li {
      button {
        height: 6px;
        width: 100px;
        background: $blue;
        opacity: 0.4;
        border-radius: 3px;
      }
    }

    .slick-active {
      button {
        width: 150px !important;
        background: $blue !important;
      }
    }
  }
}