@import '../../vars.scss';

.a {
  margin-top: 80px;

  &__inn {
    width: 100%;


    &-title {
      width: 100%;
      font-size: 32px;
      padding: 64px 0;
      text-align: center;
    }

    &-admin {


    }

    &-flowers {
      display: flex;

      &-title {
        font-size: 36px;
        margin-bottom: 24px;
        color: $pink;
      }

      &-item {
        width: 50%;
        padding: 0 48px;

        &-name{
          font-size: 24px;
          margin-bottom: 24px;
        }

        &-orders {
          &-title {
            font-size: 24px;
            padding: 24px 0;
          }

          &-i{
            display: flex;
            align-items: center;
            margin-bottom: 24px;

            &-img{
              width: 120px;
              height: 120px;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 4px;
              margin-right: 24px;
            }

            &-inner{
              width: calc(100% - 144px);
            }

            &-name{
              font-size: 24px;
              margin-bottom: 12px;
            }

            &-price{
              font-size: 20px;
              color: $pink;
            }

          }
        }
      }

      &-items {
        width: 50%;

        &-i {

          &-title {
            padding: 24px;
            border: 1px solid $pink;
            cursor: pointer;
            font-size: 20px;

            &:hover {
              background: $pink;
              color: #fff;
            }
          }
        }
      }
    }


    &-form {
      margin: 0 auto;
      width: 30%;

      &-label {
        font-size: 24px;
        margin: 24px 0;
      }

      input {
        outline: none;
        padding: 16px 36px;
        font-size: 20px;
        width: 100%;
      }

      &-button {
        margin-top: 24px;
        width: 100%;
        padding: 16px 0;
        text-align: center;
        font-size: 20px;
        background: $pink;
        border-radius: 100px;
        cursor: pointer;
      }
    }
  }

}